/* CSS Section for index.html */
.h1-title {
    text-align: center;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-big {
    font-size: 48px;
}

.text-small {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-font {
    font-family: Arial, Helvetica, sans-serif;
}

.text-styling {
    font-weight: bold;
    color: orange;
    font-size: 36px;
}

.styledFont {
    color: pink;
    font-style: italic;
}

#styledImage {
    border-style: solid;
    border-width: 3px;
    border-color: #ff9054;
}


/* CSS for floats.html */
#main-title {
    background-color: red;
}

#nav-section {
    background-color: orange;
    float: left;
}

#article-section {
    background-color: blue;

}

#footer-section {
    background-color: green;

}