/* CSS for floats.html */

body {
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    margin: 0;
    min-height: 110vh;
    position: relative;
}

#header-section {}

.row {
    overflow: auto;
    background-color: #000103;
    opacity: 0.7;
    margin-top: 10px;
}

#main-title {
    color: #fbfcfd;
    font-size: 25px;
    float: left;
    margin-left: 40px;
    font-family: 'Major Mono Display', monospace;
}

#nav-section {
    float: right;
    margin-top: 30px;
    margin-right: 70px;
    word-spacing: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffd27d;
}

.link-styling {
    color: #ffffff;
}

#article-section {
    width: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 50px;
}

#lorum-styling {
    color: #fbfcfd;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


#space-title {
    /* color: #fbfcfd; */
    font-size: 48px;
    font-family: 'Codystar', cursive;
    color: #ffd27d;
}

#footer-section {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    clear: both;
    width: 100%;
    overflow: auto;
    color: #fbfcfd;
    text-align: center;
    background-color: #000103;
    bottom: 0;
    position: absolute;
    opacity: 0.87;
    font-family: 'Montserrat', sans-serif;
}



/* CSS for positioning.html */

#positioning-body {
    background-image: url("space-2.jpg");
}

.wrapper {
    border-color: #6a8789;
    border-style: solid;
    border-width: 2px;
    
}

* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    line-height: 32px;
}

#position-head1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    
}

p {
    font-size: 18px;
    line-height: 28px;
    margin: 20px;
}

#fixed {
    /* color: #fbfcfd; */
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
    font-weight: 850;
    color: #6a8789;

}

.wrapper {
    width: 600px;
    margin: 0 auto 0;
    padding: 20px;

}

#relative {
    background: #eee;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
}

#absolute {
    background: #999;
    width: 250px;
    position: absolute;
    padding: 20px;
    bottom: 0;
    right: 0;
    text-align: center;
    right: -20px;

}