/* CSS Section for index.html */



.h1-title {
    text-align: center;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-big {
    font-size: 48px;
}

.text-small {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-font {
    font-family: Arial, Helvetica, sans-serif;
}

.text-styling {
    font-weight: bold;
    color: orange;
    font-size: 36px;
}

.styledFont {
    color: pink;
    font-style: italic;
}

#styledImage {
    border-style: solid;
    border-width: 3px;
    border-color: #ff9054;
}


/* CSS for floats.html */
#main-title {
    background-color: red;
}

#nav-section {
    background-color: orange;
    float: left;

}

#article-section {
    background-color: blue;
    float: left;



}

.row {
    overflow: auto;
    background-color: pink;
}

#footer-section {
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    clear: both;
}


/* CSS for positioning.html */
* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    line-height: 32px;
}

h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 28px;
    margin: 20px;
}

#fixed {
    background-color: #eee;
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}

.wrapper {
    width: 600px;
    margin: 0 auto 0;
    padding: 20px;

}

#relative {
    background: #eee;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
}

#absolute {
    background: #999;
    width: 250px;
    position: absolute;
    padding: 20px;
    bottom: 0;
    right: 0;
    text-align: center;
    right: -20px;

}